
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; 
  background-image: url('automação.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
}


header {
  color: #000000; 
  padding: 20px;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

header h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

header p {
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.6;
}


a {
  color: #007bff; 
  text-decoration: none;
  font-weight: bold;
}


header a {
  color: #fff;
  text-decoration: underline;
}


a:hover {
  color: #ff0000; 
} 
